name: Build OpenWrt Snapshot Firmware


on:
  repository_dispatch:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      OPENWRT_REPO: "https://git.openwrt.org/openwrt/openwrt.git"


    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Git
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libncurses5-dev libncursesw5-dev \
        zlib1g-dev gawk git gettext libssl-dev xsltproc wget unzip python3 ccache


    - name: Clone OpenWrt Repository (Snapshot)
      run: |
        git clone $OPENWRT_REPO openwrt
        cd openwrt
        git checkout master


    - name: Update and Install Feeds
      run: |
        cd openwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a


    - name: Setup Build Configuration
      run: |
        cd openwrt
        make defconfig

    - name: Build OpenWrt (Snapshot)
      run: |
        cd openwrt
        make -j$(nproc) V=s


    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: openwrt-snapshot-build-${{ github.run_id }}
        path: openwrt/bin/targets/

    - name: Cache Ccache
      uses: actions/cache@v4
      with:
        path: ~/.ccache
        key: ${{ runner.os }}-ccache-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-ccache-